@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
@import "tailwindcss";

:root { /* CSS Variables */
  /* --gradient: linear-gradient(to bottom, #F3E9DC 60%, #B0E0E6);  */
  --background: #F3E9DC;
  --foreground: #000000;
  --color-blue: #B0E0E6;
  --color-brown: #7e675b8f;
  --color-beige: #F3E9DC;
}

.dark {
  --background: rgb(40,40,40);
  --foreground: #F3E9DC;
}


/* @theme {
  --color-blue: #B0E0E6;
} */
.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}
.cover {
  border-radius: 5;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 150px;
  height: 225px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.cover-search {
  border-radius: 5;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 120px;
  height: 175px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.cover:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  transition: all 0.3s ease-in-out;
}

body {
  background: var(--background);
  background-attachment: fixed; /* Stops the gradient from repeating throughout the page. */
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.markdown-content {
  width: 100%;
  word-break: break-word;
  white-space: pre-line;
  font-size: 1rem;
  line-height: 1.5;
}

.beige {
  color: #F3E9DC;
}