@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #F3E9DC;
  --foreground: #171717;
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
*/

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F3E9DC;
    --foreground: #000000;
  }
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inria Serif", serif, Inter;
}
