@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
@import "tailwindcss";

:root { /* CSS Variables */
  --gradient: linear-gradient(to bottom, #F3E9DC 60%, #B0E0E6);
  --background: #F3E9DC;
  --foreground: #171717;
  --color-blue: #B0E0E6;
  --color-brown: #7e675b;
}


/* @theme {
  --color-blue: #B0E0E6;
} */


@media (prefers-color-scheme: dark) { /* Dark mode variables, changes the background and foreground based on device theme. Can be removed if we don't need this.*/
  :root {
    --background: #F3E9DC;
    --foreground: #000000;
  }
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

body {
  background: var(--gradient);
  background-attachment: fixed; /* Stops the gradient from repeating throughout the page. */
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.blue {
  background-color: #b0e0e666;
  border-radius: 10px;
}