.scroll-container {
  background-color: #ffffff00;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.scroll-container img {
  padding: 10px;
}

.image {
    max-width: 117;
    max-height: 176;
    border-radius: 5;
}

.image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.wrapper {
    width: 980;
}