/* .slick-slider .slick-slide {
  margin-right: 5;
}

.slick-slider .slick-list {
  margin-right: -5;
}

.slick-slider .slick-track {
  display: flex;
} */

.slick.slide {
    margin-right: 1;
}

body.dark .slick-dots li ::before {
    color: white;
}
.slick-list {
    padding-left: 20;
    padding-top: 20;
    padding-bottom: 20;
    height: 250;
}
