.select-wrapper {
    display: flex;
    position: relative;
    display: inline-block;
    gap: 15px;
}

.select-wrapper::after {
    display: flex;
    font-size: 14px;
    color: #333;
    position: absolute;
    right: 10px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
}

.filter-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    place-content: center;
    
}

/* .select-filter {
    padding: 8px;
    width: 200px;
    height: 35px;
    background-color: #F3E9DC;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
    border-radius: 10;
} */

.select-filter {
    appearance: none;  /* Standard */
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none; /* Firefox */
    width: 150px;
    height: 35px;
    background-color: #F3E9DC;
    border: 1px solid #000000;
    padding: 5px 5px 5px;
    border-radius: 6px;
    font-size: 15px;
    /* color: #333; */
    outline: none;
}

.select-filter:focus {
    border-color: #000000;
    background-color: #eef7ff;
    box-shadow: none; 
}

.select-filter:hover {
    background-color: #f1f1f1;
}

.select-filter option:checked {
    background-color: #B0E0E6;
    color: white;
}

/* .filter-container select {
    background-color: #fff;
    color: #333;
} */

.filter-heading {
    color: #B0E0E6;
    font-size: 15px;
    margin-bottom: 20px;
}
