@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

.header {
    background-color: #000000;
    font-size: 15px;
    font-family: Inter;
    display: inline-block;
}

body.dark .header{
    background-color: white;
}

.hoverCat {
    @apply hover:text-[#ffa2e9];
}

.text {
    font-size: 15px;
    @apply rounded-lg inline-block items-baseline;
}

.fields {
    font-size: 15px;
    @apply rounded-lg p-1 px-4;
}

.shadow {
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
}

.blue {
    background-color: #b0e0e68f;
}

.brown {
    background-color: #7e675b8f;
}

.search {
    width: 300px;
}

.search:focus {
    outline: none;

}

.icon {
    width: 55px;
    height: 55px;
}

.icon:hover {
    cursor: pointer;
}



