@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

.header {
    background-color: #000000;
    font-size: 15px;
    font-family: Inter;
    display: inline-block;
}

body.dark .header{
    background-color: white;
}

.hoverCat {
    transition: all 0.2s ease-in-out;
    display: inline-block;
    transform-origin: center;
    /* padding: 0.2em 0.1em; 
    margin: -0.2em -0.1em;  */
}

.hoverCat:hover {
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
}

.text {
    font-size: 15px;
    @apply rounded-lg inline-block items-baseline;
}

.fields {
    font-size: 15px;
    @apply rounded-lg p-1 px-4;
}

.shadow {
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
}

.btn-shadow {
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
}

.btn-shadow:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.blue {
    background-color: #b0e0e6b6;
}

.brown {
    background-color: #7e675b8f;
}

.search {
    width: 300px;
}

.search:focus {
    outline: none;

}

.icon {
    width: 55px;
    height: 55px;
}

.icon:hover {
    cursor: pointer;
}



