.image {
  max-width: 130px;
  max-height: 195px;
  border-radius: 5;
  transition: all 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

