@import "tailwindcss";

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F3E9DC;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  border-radius: 5;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: smaller;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {
    background-color: #dfcdb5;
}


.profile-carousel .slick-slide {
    padding-top: 8px;
    padding-left: 20px;
    height: 210;
}

/* .slick-list {
    padding-top: 50;
    padding-bottom: 40;
    padding-left: 10;
    padding-right: 10;
    height: 200;
} */

.profile-carousel .slick-slide > div {
  margin-top: 8px;
  padding-top: 8px;
  
}

.img-body {
  padding: 10;
}


.notification {
  position: relative;
  display: inline-block;
}

.notification-content {
  display: none;
  position: absolute;
  background-color: #F3E9DC;
  min-width: 350px;
  min-height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  border-radius: 5;
}

.notification-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: smaller;
}

.notification:hover .notification-content {display: block;}

.notification-content a:hover {
    background-color: #dfcdb5;
}

.cover-profile {
  max-width: 120px;
  max-height: 165px;
  border-radius: 5;
  transition: all 0.3s ease-in-out;
}

.cover-profile:hover {
  /* transform: scale(1.05); */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
