@import "tailwindcss";

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F3E9DC;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  border-radius: 5;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: smaller;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {
    background-color: #dfcdb5;
}

/* .slick.slide {
    margin-right: 1;
} */

.slick-list {
    padding-top: 30;
    padding-bottom: 10;
    height: 250;
}


.notification {
  position: relative;
  display: inline-block;
}

.notification-content {
  display: none;
  position: absolute;
  background-color: #F3E9DC;
  min-width: 350px;
  min-height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  border-radius: 5;
}

.notification-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: smaller;
}

.notification:hover .notification-content {display: block;}

.notification-content a:hover {
    background-color: #dfcdb5;
}