.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 60px;
  height: 30px;
  background: #7e675b8f;
  border-radius: 100;
  position: relative;
  transition: background-color .2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border-color: black;
  transition: 0.3s;
  background: #F3E9DC;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
  background: #B0E0E6;
}